@charset 'utf-8';


header {
    width: 100vw;
    height: auto;
    background-color: #f5f5f5;
    text-align: center;
}
.test {

    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 2px solid #d7d7d7;
    border-radius: 12px;
}

.fab {
    margin-bottom: -30px;
}
.fab2 {
    margin-right: 1rem;
}
form
{
}
.tabs2
{
    text-align: center;
}
.tabs {
width: 100%;
}
.gras {
    font-weight:bold ;

}
