<header>
  <div class="mdc-layout-grid--align-center">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
<div class="mdc-text-field mdc-text-field--no-label test">
  <input type="text" class="mdc-text-field__input" placeholder="Entrer un nom" aria-label="Label">
  <!-- <div class="mdc-line-ripple"></div> -->
</div>
<div class="fab">
  <!-- <form method="POST"><input name="random" type="hidden" value=""> -->
  <button class="mdc-fab fab2" aria-label="all_inclusive">
    <span class="mdc-fab__icon material-icons">all_inclusive</span>
  </button>
  <!-- </form> -->

  <!-- <form method="POST"><input name="newUser" type="hidden" value=""> -->
  <button class="mdc-fab" aria-label="add">
    <span class="mdc-fab__icon material-icons">add</span>
  </button>
  <!-- </form> -->
</div>
</div>
</div>
</div>
</header>


<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-6">
      <!-- <div class="mdc-layout-grid__cell--span-8-tablet"> -->
  <div class="mdc-data-table tabs">
    <table class="mdc-data-table__table" aria-label="users-tabs">
      <thead>
        <tr class="mdc-data-table__header-row">
          <th class="mdc-data-table__header-cell gras" role="columnheader" scope="col">N°</th>
          <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Nom</th>
        </tr>
      </thead>
      <tbody class="mdc-data-table__content">
        <tr class="mdc-data-table__row">
          <td class="mdc-data-table__cell">1</td>
          <td class="mdc-data-table__cell">Hector</td>
        </tr>
      </tbody>
    </table>
  </div>
    <!-- </div> -->
    </div>
  
    <div class="mdc-layout-grid__cell--span-6">

      <div class="mdc-data-table tabs">
        <table class="mdc-data-table__table" aria-label="users-random">
          <thead>
            <tr class="mdc-data-table__header-row">
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">N°</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Nom</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Nom 2</th>
            </tr>
          </thead>
          <tbody class="mdc-data-table__content">
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell">1</td>
              <td class="mdc-data-table__cell">Jean</td>
              <td class="mdc-data-table__cell">Hector</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>